@use '../../styles.scss' as *;

.toggle-control {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  label {
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    color: $dark-blue;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}


.paragraph-container {
  p {
    font-size: 18px;       
    line-height: 1.6;      
    // max-width: 800px;    
    color: #4a4a4a;        
  }
}